.add-message-bar {
    padding: 2rem 1rem 1rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 -4px 8px #00000032;
}

.add-message-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-message-form button {
    margin-left: 1rem;
}