.add-message-bar {
    padding: 2rem 1rem 1rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #00000032;
    display: flex;
    justify-content: space-between;
}

.add-message-bar button {
    margin-left: 1rem;
}