p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.system-message-container {
    display: inline-block;
    max-width: 300px;
    background-color: #00000010;
    border-radius: .5rem;
    padding: .6rem;
    margin:  4px 16px;
}

